## Task 2: Developing an AI-powered financial chatbot

Building a fully functional AI chatbot for financial analysis is a complex process involving advanced programming and deep learning techniques. However, to fit our learning objectives and time constraints, we've tailored a simplified task. This streamlined version will introduce you to the basics of chatbot development, focusing on creating a prototype that responds to predefined financial queries. It's a first step into the world of AI chatbots, offering a glimpse into their potential without the need for extensive development time or advanced technical skills. Let's begin this journey, keeping an eye on the bigger picture while we tackle this accessible task.

### 1. Preparation

In [2]:
import pandas as pd

#### Review the analyzed data and save it

In [10]:
# Load dataset
df = pd.read_csv("10K_Financial_Data.csv", delimiter=";")

# Convert financial columns to numeric by removing commas 
cols_to_convert = ["Total Revenue ($M)", "Net Income ($M)", "Total Assets ($M)", "Total Liabilities ($M)", "Cash Flow from Operating Activities ($M)"]
df[cols_to_convert] = df[cols_to_convert].replace(",", "", regex=True).astype(float)

# Sort by Company and Fiscal Year 
df = df.sort_values(by=["Company", "Fiscal Year"])

# Calculate percentage change for each metric
df["Revenue Growth (%)"] = df.groupby("Company")["Total Revenue ($M)"].pct_change() * 100
df["Net Income Growth (%)"] = df.groupby("Company")["Net Income ($M)"].pct_change() * 100
df["Assets Growth (%)"] = df.groupby("Company")["Total Assets ($M)"].pct_change() * 100
df["Liabilities Growth (%)"] = df.groupby("Company")["Total Liabilities ($M)"].pct_change() * 100
df["Cash Flow Growth (%)"] = df.groupby("Company")["Cash Flow from Operating Activities ($M)"].pct_change() * 100

# Handle Missing Values
df.fillna(0, inplace=True)

# # Reset the index to get sequential indices
df.reset_index(drop=True, inplace=True)

# Save the dataset
df.to_csv('10K_Financial_Data_Enhanced.csv', index=False)

df

,Company,Fiscal Year,Total Revenue ($M),Net Income ($M),Total Assets ($M),Total Liabilities ($M),Cash Flow from Operating Activities ($M),Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow Growth (%)
0,Apple,2022,394328.0,99803.0,352755.0,302083.0,122151.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,Apple,2023,383285.0,96995.0,352583.0,290437.0,110543.0,-2.800461,-2.813543,-0.048759,-3.855232,-9.502992
2,Apple,2024,391035.0,93736.0,364980.0,308030.0,118254.0,2.021994,-3.359967,3.516052,6.057424,6.975566
3,Microsoft,2022,198270.0,72738.0,364840.0,198298.0,89035.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,Microsoft,2023,211915.0,72361.0,411976.0,205753.0,87582.0,6.882030,-0.518299,12.919636,3.759493,-1.631942
5,Microsoft,2024,245122.0,88136.0,512163.0,243686.0,118548.0,15.669962,21.800417,24.318650,18.436183,35.356580
6,Tesla,2022,81462.0,12587.0,82338.0,36440.0,14724.0,0.000000,0.000000,0.000000,0.000000,0.000000
7,Tesla,2023,96773.0,14974.0,106618.0,43009.0,13256.0,18.795267,18.964010,29.488207,18.026894,-9.970117
8,Tesla,2024,97690.0,7153.0,122070.0,48390.0,14923.0,0.947578,-52.230533,14.492862,12.511335,12.575438

### 2. Chatbot design and data preparation

#### **Define predefined queries:**
Select common financial queries :
1. "What is the total revenue for [Company] in [Fiscal Year]?"
2. "How has net income changed for [Company] over the last year?"
3. "What are the total assets and liabilities for [Company]?"
4. "Which company had the highest cash flow from operating activities in [Fiscal Year]?"
5. "What is the revenue growth rate for [Company] compared to the previous year?"

#### **Define predefined queries:**
Prepare responses: 

1. The total revenue for [Company] in [Fiscal Year] was [Total Revenue (M)] million.
2. The net income for [Company] changed by [Percentage Change]% from [Previous Year] to [Current Year].
3. In [Fiscal Year], [Company] had total assets of [Total Assets (M)] million and total liabilities of [Total Liabilities (M)] million.
4. In [Fiscal Year], [Company] had the highest cash flow from operating activities, totaling [Cash Flow (M)] million.
5. The revenue growth rate for [Company] from [Previous Year] to [Current Year] was [Growth Rate]%.

### 3. Basic chatbot development

**Chatbot logic:**

- Writing a Python script that uses ***if-else*** statements to match user input (the predefined queries) to the responses you prepared.
- For a more interactive experience, we will use a basic Python library such as **input()** for command-line interaction

#### Step 1: Chatbot Logic:

In [11]:

def simple_chatbot(user_query):
    
    if user_query == "What is the total revenue for Apple in 2024?":
        return get_total_revenue("Apple", 2024)
    elif user_query == "What is the total revenue for Microsoft in 2024?":
        return get_total_revenue("Microsoft", 2024)
    elif user_query == "What is the total revenue for Tesla in 2024?":
        return get_total_revenue("Tesla", 2024)
        
    elif user_query == "How has net income changed for Microsoft from 2023 to 2024?":
        return get_net_income_change("Microsoft")
    elif user_query == "How has net income changed for Apple from 2023 to 2024?":
        return get_net_income_change("Apple")
    elif user_query == "How has net income changed for Tesla from 2023 to 2024?":
        return get_net_income_change("Tesla")
        
    elif user_query == "What were the total assets and liabilities for Tesla in 2023?":
        return get_assets_liabilities("Tesla", 2023)
    elif user_query == "What were the total assets and liabilities for Apple in 2023?":
        return get_assets_liabilities("Apple", 2023)
    elif user_query == "What were the total assets and liabilities for Microsoft in 2023?":
        return get_assets_liabilities("Microsoft", 2023)
    
    elif user_query == "Which company had the highest cash flow from operating activities in 2024?":
        return get_highest_cash_flow(2024)
        
    elif user_query == "What is the revenue growth rate for Apple from 2023 to 2024?":
        return f"The revenue growth rate for Apple from 2023 to 2024 was {get_revenue_growth_rate('Apple'):.2f}%."
    else:
        return "Sorry, I can only provide information on predefined queries."

def get_total_revenue(company, year):
    result = df[(df['Company'] == company) & (df['Fiscal Year'] == year)]
    if not result.empty:
        revenue = result['Total Revenue ($M)'].values[0]
        return f"The total revenue for {company} in {year} was ${revenue} million."
    else:
        return "No data available for the requested company and year."

def get_net_income_change(company):
    result = df[df['Company'] == company].sort_values(by='Fiscal Year', ascending=False)
    if len(result) > 1:
        current_year = result.iloc[0]
        previous_year = result.iloc[1]
        change = ((current_year['Net Income ($M)'] - previous_year['Net Income ($M)']) / previous_year['Net Income ($M)']) * 100
        return f"The net income for {company} changed by {change:.2f}% from {previous_year['Fiscal Year']} to {current_year['Fiscal Year']}."
    else:
        return "Not enough data to calculate net income change."

def get_assets_liabilities(company, year):
    result = df[(df['Company'] == company) & (df['Fiscal Year'] == year)]
    if not result.empty:
        assets = result['Total Assets ($M)'].values[0]
        liabilities = result['Total Liabilities ($M)'].values[0]
        return f"In {year}, {company} had total assets of ${assets} million and total liabilities of ${liabilities} million."
    else:
        return "No data available for the requested company and year."

def get_highest_cash_flow(year):
    result = df[df['Fiscal Year'] == year]
    if not result.empty:
        max_cash_flow = result['Cash Flow from Operating Activities ($M)'].max()
        company = result[result['Cash Flow from Operating Activities ($M)'] == max_cash_flow]['Company'].values[0]
        return f"In {year}, {company} had the highest cash flow from operating activities, totaling ${max_cash_flow} million."
    else:
        return "No data available for the requested year."

def get_revenue_growth_rate(company):
    result = df[df['Company'] == company].sort_values(by='Fiscal Year', ascending=False)
    if len(result) > 1:
        current_year = result.iloc[0]
        previous_year = result.iloc[1]
        growth_rate = ((current_year['Total Revenue ($M)'] - previous_year['Total Revenue ($M)']) / previous_year['Total Revenue ($M)']) * 100
        return growth_rate
    else:
        return 0.0

#### Step 2: Command-line interaction

In [13]:
# Test script
if __name__ == "__main__":
    while True:
        # Ask the user for input
        user_input = input("Enter your query: ")
        
        # Exit if user types 'exit'
        if user_input.lower() == 'exit':
            break
        
        # Get the response from the chatbot
        response = simple_chatbot(user_input)
        
        # Print the response
        print(response)

Enter your query:  What is the total revenue for Apple in 2024?

The total revenue for Apple in 2024 was $391035.0 million.

Enter your query:  What is the total revenue for Tesla in 2024?

The total revenue for Tesla in 2024 was $97690.0 million.

Enter your query:  How has net income changed for Microsoft from 2023 to 2024?

The net income for Microsoft changed by 21.80% from 2023 to 2024.

Enter your query:  What were the total assets and liabilities for Tesla in 2023

Sorry, I can only provide information on predefined queries.

Enter your query:  What were the total assets and liabilities for Tesla in 2023?

In 2023, Tesla had total assets of $106618.0 million and total liabilities of $43009.0 million.

Enter your query:  Which company had the highest cash flow from operating activities in 2024?

In 2024, Microsoft had the highest cash flow from operating activities, totaling $118548.0 million.

Enter your query:  What is the revenue growth rate for Apple from 2023 to 2024?

The revenue growth rate for Apple from 2023 to 2024 was 2.02%.

Enter your query:  exit

### 4. Chatbot Documentation

The chatbot is designed to provide financial data for specific companies (Apple, Microsoft, and Tesla) based on user queries. It retrieves and processes information about the companies' revenues, net income, assets, liabilities, cash flows, and growth rates using predefined data stored in a pandas DataFrame. The chatbot responds to user queries related to specific financial metrics for the years 2023 and 2024.

- How it Works :
  
The chatbot functions by processing user input, checking it against predefined queries, and returning relevant information based on data extracted from the DataFrame. Each query is associated with a function that extracts data from the df DataFrame and returns a formatted string containing the requested information.

- User Input: The user enters a query related to the financial data of Apple, Microsoft, or Tesla.
- Query Processing: The chatbot checks the user query against a set of predefined queries.
- Data Extraction: If the query matches a predefined pattern, the chatbot calls the appropriate function to retrieve data from the DataFrame.
- Response: The chatbot returns a string with the relevant information (e.g., revenue, net income, growth rate) or an error message if the data is unavailable.

- Limitations :
  
1. Predefined Queries: The chatbot can only respond to a fixed set of queries. It does not support dynamic or user-defined queries.
2. Data Availability: If the requested data for a specific company or year is not available in the DataFrame, the chatbot will return an error message (e.g., "No data available for the requested company and year.").
3. Year Limitations: The data is limited to the years 2023 and 2024. The chatbot cannot provide data outside of this range.
4. Simple Query Structure: The chatbot only handles exact matches to predefined queries and does not support more complex or varied forms of input.
Usage
5. The chatbot can be tested by running the Python script and providing queries directly in the console. The chatbot responds with the relevant financial information based on the predefined dataset.

#### Conclusion and variation:
This example demonstrates the core principles of developing a financial chatbot using rule-based logic, there are numerous ways to enhance and expand this prototype. We might integrate more complex NLP features for natural language understanding, connect to real-time financial databases for dynamic data retrieval, or implement machine learning for more nuanced interaction and response generation.

Key takeaway: The principles of chatbot development (rule-based logic, data integration, and clear communication) apply regardless of the complexity of your chatbot. This example provides a foundation, but the possibilities are vast, encouraging to explore and innovate beyond this basic framework.